<!DOCTYPE html>
<html>
<head>
	<link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
<script type = "text/javascript" src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"> </script>
<script type="text/javascript" async  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML"> </script>
	<title>Iterative Method</title>
</head>
<body>
	<h1>Iterative Method</h1>
Equation 1 = <input type="tetx" name="e1"><br/><br/>
Equation 2 = <input type="text" name="e2">

<style type="text/css"> 
input   {
    width: 40px !important;
    height: 20px !important; 
    border-style: groove !important;
}
</style>
</body>
</html>